/* Variable names for different colors in the theme palette */

:root {
  --dark-green: #6B705C;
  --medium-green: #A5A58D;
  --light-green: #ccccb6;
  --off-white: #FFE8D6;
  --light-peach: #DDBEA9;
  --medium-peach: #CB997E;
  --dark-peach: #8A6754;
}
