#dashboard {
    font-family: "Nunito", serif;
    text-align: center;
    padding-top: 15%;
}

.dashboard-clock {
    color: var(--off-white);
    font-size: 1000%;
    font-weight: 500;
    display: block;
}

.dashboard-sub-clock {
    padding-top: -5%;
    color: var(--light-peach);
    font-size: 200%;
    font-weight: 200;
}

#dashboard-welcome-message {
    padding-top: 1%;
    color: var(--light-peach);
}