#home-page {
    background-color: var(--light-green);
}

#main-navbar {
    background: var(--light-green);
    font-size: large;

    /* margin: auto;
    align-content: center; */
    /* position: fixed;
    top: 0px;
    z-index: 999; */
}

.main-navbar-icon {
}

.main-navbar-item {
    /* margin-right: 5%; */
    color: var(--dark-green) !important;
}

.inline-block {
    display: inline;
}

#navbar-brand-icon {
    width:17%;
}

#main-brand-title {
    font-size: 500%;
    margin-right: 1%;
    color: var(--dark-green);
    font-weight: 900;
}

#main-brand-subtitle  {
    color: var(--dark-green)
}

#main-brand-subsubtitle {
    margin-top: 1%;
    color: var(--medium-green)
}


/* Intro section */
#main-intro {
  align-items: center;
  vertical-align: middle;
  position: relative;
  margin: auto;
  background: var(--light-green);

  padding-left: 10%;
  padding-right: 10%;

    padding-top: 20%;
    padding-bottom: 7%;

  font-family: "Nunito", serif;
}

#main-brand-word {
    z-index: 999;
}

#main-brand-get-started {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-down: 1%;
    margin-top: 2%;
    background-color: var(--medium-peach);
    border: none;
    color: var(--off-white)
}

#main-splash{
    width: 50%;

    display: inline;
    position: absolute;
    top: 30%;
    /* float: right; */
    margin-top: -10%;
    margin-bottom: -20%;

    right: 5%;
    z-index: 998;
}

#main-splash-2{
    width: 30%;

    display: inline;
    position: absolute;
    top: 48%;
    /* float: right; */
    margin-top: -10%;
    margin-bottom: -20%;

    right: 33%;
    z-index: 998;
}



/* Features page */
#main-features-memos {
    padding: 0;
    /* margin:0; */
    margin-right: 0;
    /* margin-top: -20%; */
    /* padding-top: 20%; */
    background-color: var(--dark-green);
    padding-top: 5%;
    padding-bottom: 5%;
}

#main-memos-example {
    width: 100%;
    padding-left: 10%;
}

#main-memos-description {
    padding-left: 5%;
    padding-top: 17%;
    padding-right: 5%;

    font-family: "Nunito", serif;
}

#main-memos-main-description {
    color: var(--light-green);
}

#main-memos-sub-description {
    color: var(--medium-green);
}



#main-demo {
    padding: 10% 5% 10% 5%;
    background-color: var(--off-white);
    margin:0;
}

#main-demo-center-island {
    background-image: url(../img/register_center_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
}

#main-demo-form-title {
  color: var(--light-peach);
  margin: 0;
  padding: 10% 10% 2% 10%;
}

#main-demo-form {
  width:100%;
  padding-left: 10%;
  margin-bottom: 15%;
  background-color: transparent;
}

#main-demo-form-email, #main-demo-form-password, #main-demo-form i {
    display: inline;
}

#main-demo-form i {
    margin-right: 2%;
    color: var(--light-peach);
}

#main-demo-form-email, #main-demo-form-password {
  background-color:  transparent;

  border-radius: 0;
  border-width: 0 0 3px 0;
  border-style: solid solid solid solid;
  border-color: var(--medium-peach);
  padding: 0;
  width: 80%;

  color: var(--off-white);
}

#main-demo-form-email::placeholder, #main-demo-form-password::placeholder {
  color: var(--off-white);
}

#main-demo-form-email:active, #main-demo-form-password:active {
  color: var(--off-white) !important;
  border-width: 0 0 3px 0 !important;
}

#main-demo-form-button {
  width:85%;
  background-color: var(--medium-peach);
  border-color: var(--medium-peach);
  color: var(--off-white)
}

#main-demo-form-button i {
    color: var(--off-white);
    margin-left: 1%;
}

#main-demo-description {
    font-family: "Nunito", serif;
    padding-left: 5%;
}

#main-demo-description-title {
    color: var(--dark-peach);
}

#main-demo-description-body, #main-demo-description-list, #main-demo-description-end {
    color: var(--medium-peach);
}




#main-about {
    padding-top:10%;
    padding-bottom: 10%;
    background-color: var(--medium-green);
    margin:0;
    color: var(--off-white);
    font-size: large;
    font-family: "Nunito", serif;
}

#main-about-header {
    font-family: "Nunito", serif;
    color: var(--off-white);
    float: right;
    text-align: right;

}

ul i {
    margin-right: 0.5%;
}

ul.no-bullets {
    list-style-type: none;
}

ul p {
    background-color: var(--medium-peach);
    border-radius: 7px;
    color: var(--off-white) !important;
    display: inline;
    padding: 3px 7px 3px 7px;
}

ul li {
    margin-bottom: 1%;
}

.underline {
    text-decoration: underline;
}



#main-contact {
    padding-top:10%;
    /* padding-bottom: 10%; */
    background-color: var(--dark-green);
    margin:0;
}

.main-contact-section {
    margin: auto;
}

#main-contact i {
    color: var(--off-white);
    margin-bottom: 6%;
}

#main-contact a {
    cursor: pointer;
}

#main-contact p {
    font-size: large;
    color: var(--light-green);
}

#main-contact-header {
    color: var(--light-green);
    font-family: "Nunito", serif;
    font-weight: 300;
    margin-bottom: 3%;

}

#main-contact-phone-tooltip > .tooltip-inner{
    background-color: var(--off-white);
    color: var(--dark-green)
}

#main-contact-phone-tooltip > .arrow::before{
    border-top-color: var(--off-white);
}

.main-footer {
    margin-top:5%;
    margin-bottom: 2%;
}

.main-footer > p {
    margin-bottom: 0;
    font-weight: 100;
    font-size: small !important;
}