/* layout */
#memo-page{
  margin-left: 5%;
  margin-right: 5%;
}

#memos-header {
  margin-top: 5%;
  margin-left: 5%;
  color: var(--off-white);
}

#memos-add-box {
  /* margin-left: 5%; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: minmax(15rem, 15em);
  grid-auto-rows: 15em;
  grid-gap: 0px;
  /* grid-auto-flow: dense; */
}

.grid-gap {
  grid-gap: 1.5rem;
}

/* styling */

.memo-card--expanded {
  grid-column: span 2;
  grid-row: span 2;
}

.memo-card {
  cursor: pointer;
  display: flex;

  background-color: var(--off-white);
  border: 5px solid var(--dark-green);
  border-radius: 7%;
  /* font-family: "Nunito", serif; */
  color: var(--dark-peach);


  /*      top right bottom left */
  padding: 0% 5% 5% 5%;
  margin:0;
}

.memo-card > div {
  overflow: hidden;
  width: 100%;
}



/* So that in minimized view, you can still scroll to see all the words */
.memo-card-content {
  padding-bottom: 30%;
  margin-bottom: 30%;
  font-weight: 400;
}

.memo-card-title {
  font-weight: 600;
  margin-top: 0;
}

.memo-card-time-stamp {
  display:inline-block;
  margin-bottom: 0;
  font-weight: 200;
  color: var(--medium-peach);
  margin-top: 1%
}

.memo-card-remove-button {
  margin-bottom: 0;
  float: right;
  color: var(--medium-peach);
  margin-top: 2%;
  
}

.memo-card-remove-button:hover {
  color: #e0544a;
}

/* .card--1 {
  background-color: #366f6e;
}

.card--2 {
  background-color: #79ac91;
}

.card--3 {
  background-color: #e2b060;
}

.card--4 {
  background-color: #e86448;
}

.card--5 {
  background-color: #dc5263;
} */
